### apriori algorithm

In [1]:
#!pip install mlxtend

In [2]:
import warnings
warnings.simplefilter('ignore')

In [3]:
import numpy as np  
import matplotlib.pyplot as plt  
import pandas as pd  

# we need to install mlxtend on anaconda prompt by typing 'pip install mlxtend'
from mlxtend.frequent_patterns import apriori  
from mlxtend.frequent_patterns import association_rules


from mlxtend.preprocessing import OnehotTransactions

Read Data

In [4]:
df = pd.read_csv('./data_products_csv.csv',sep=';')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
Day of the Week    1000 non-null object
Product 1          1000 non-null object
Product 2          1000 non-null object
Product 3          1000 non-null object
Product 4          1000 non-null object
Time of the day    1000 non-null object
dtypes: object(6)
memory usage: 47.0+ KB

In [6]:
df.head()

  Day of the Week Product 1 Product 2 Product 3 Product 4 Time of the day
0          Monday     Bread    Orange      Beef    Butter         Evening
1         Tuesday     Pasta     Apple   Chicken    Cheese         Morning
2       Wednesday      Rice     Apple   Chicken    Cheese       Afternoon
3        Thursday     Bread    Orange      Beef       Egg         Morning
4          Friday     Pasta     Apple      Fish       Egg         Evening

In [7]:
#df = df.dropna()

In [8]:
#df = df.replace(np.nan, '', regex=True)

In [9]:
#df[''] = df[''].astype(str)

In [10]:
dataset = df.values.tolist()

In [12]:
oht = OnehotTransactions()
oht_ary = oht.fit(dataset).transform(dataset)
df = pd.DataFrame(oht_ary, columns=oht.columns_)
#print (df)           
# min_support: if the support threshold is set to 0.5 (50%), a frequent itemset is defined 
#as a set of items that occur together in at least 50% of all transactions in the database.
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)
#print (frequent_itemsets) 
 
#association_rules(frequent_itemsets, metric="confidence", min_threshold=0.9)
#rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)
print ('---------------------RULES ARE ------------------------')
rules

---------------------RULES ARE ------------------------

C:\Users\gjab\AppData\Local\Continuum\Anaconda3\lib\site-packages\mlxtend\preprocessing\onehot.py:66: DeprecationWarning: OnehotTransactions has been deprecated and will be removed in future. Please use TransactionEncoder instead.
  warnings.warn(msg, DeprecationWarning)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Apple),(Bread),0.401,0.514,0.205,0.511222,0.994595,-0.001114,0.994316
1,(Apple),(Chicken),0.401,0.497,0.215,0.536160,1.078792,0.015703,1.084425
2,(Apple),(Evening),0.401,0.518,0.208,0.518703,1.001358,0.000282,1.001461
3,(Cheese),(Bread),0.392,0.514,0.204,0.520408,1.012467,0.002512,1.013362
4,(Bread),(Evening),0.514,0.518,0.270,0.525292,1.014077,0.003748,1.015361
5,(Evening),(Bread),0.518,0.514,0.270,0.521236,1.014077,0.003748,1.015113
6,(Cheese),(Chicken),0.392,0.497,0.203,0.517857,1.041966,0.008176,1.043259
7,(Cheese),(Evening),0.392,0.518,0.201,0.512755,0.989875,-0.002056,0.989236
8,(Chicken),(Evening),0.497,0.518,0.252,0.507042,0.978846,-0.005446,0.977771